{% extends "base.html" %}

{% block body %}
<div class="container body-mod text-center">
    <main class="w-100 mt-5 m-auto">
      <div class="row justify-content-center">
        <div class="col-md-6 py-4 px-4 rounded-3 border border-dark-subtle">
            {% if current_user.is_authenticated %}
            <p class="fs-4 mt-4">You are already logged in, visit your dashboard <a href="{{ url_for('dashboard') }}">here.</a></p>
            {% else %}
            <form action="/login" method="POST">
                <h1 class="h4 mb-3 fw-normal">Log in to your account</h1>
                <div class="form-floating mb-3">
                  <input type="username" name="username" class="form-control" id="floating-input" placeholder="username">
                  <label for="floating-input" class="form-label">Username</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" name="password" class="form-control" id="floatingPassword">
                  <label for="floatingPassword" class="form-label">Password</label>
                </div>
                <div class="d-flex justify-content-between me-3 ms-3">
                  <div>
                    <div class="checkbox mb-3">
                      <label class="text-start">
                        <input type="checkbox" name="remember-me" value="remember-me"> Remember Me
                      </label>
                    </div>
                  </div>
                  <div>
                    <a href="{{ url_for('reset_password_request') }}">Forgot Password?</a>
                  </div>
                </div>
        
                <button type="submit" class="w-100 btn btn-lg btn-secondary">Log in</button>
              </form>
              {% endif %}
        </div>
      </div>
    </main>
    {% if current_user.is_authenticated %}
    {% else %}
    <p class="mt-4">New to Todo? Register an account <a href="{{ url_for('signup') }}">here.</a></p>
    {% endif %}
  </div>
{% endblock %}
